In [16]:
import pandas as pd

data_path = "C:/Users/yacin/Desktop/projet_python/processed/data_map.csv"


df = pd.read_csv(data_path, sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457327 entries, 0 to 457326
Data columns (total 5 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Type_bâtiment               457327 non-null  object
 1   Etiquette_DPE               457327 non-null  object
 2   lon                         457327 non-null  float64
 3   lat                         457327 non-null  float64
 4   Surface_habitable_logement  457327 non-null  float64
dtypes: float64(3), object(2)
memory usage: 17.4+ MB

In [17]:
qualitative_values = {col: df[col].unique() for col in df.select_dtypes(include='object').columns}
qualitative_values

{'Type_bâtiment': array(['appartement', 'maison', 'immeuble'], dtype=object),
 'Etiquette_DPE': array(['E', 'D', 'F', 'C', 'G', 'B', 'A'], dtype=object)}

In [18]:
# import folium
# from folium.plugins import MarkerCluster

# # Coordonnées de Rennes (Bretagne)
# rennes_lat, rennes_lon = 48.1173, -1.6778

# # Créer la carte centrée sur Rennes (Bretagne)
# carte_bretagne = folium.Map(location=[rennes_lat, rennes_lon], zoom_start=8)

# # Initialize the MarkerCluster object
# marker_cluster = MarkerCluster().add_to(carte_bretagne)

# # Add the markers with clustering
# for idx, row in df.iterrows():
#     if pd.notna(row['lat']) and pd.notna(row['lon']):
#         # Create a popup text for each marker
#         popup=f"Type de bâtiment: {row['Type_bâtiment']}<br>Surface habitable: {row['Surface_habitable_logement']} m²<br>Étiquette DPE : {row['Etiquette_DPE']}",
        
#         # Create a marker for each property and add it to the marker cluster
#         folium.Marker(
#             location=[row['lat'], row['lon']],
#             popup=popup
#         ).add_to(marker_cluster)

# # Display the map
# #carte_bretagne
# carte_bretagne

In [19]:
import pipeline
import pickle as pk
import pandas as pd

# Set up input variables for testing in Jupyter
Etiquette_GES = "A"
Logement = "ancien"
Type_bâtiment = "appartement"
Année_construction = "2000"
Code_postal = "75001"
Coût_total_5_usages = "15000"
Hauteur_sous_plafond = "2.5"
Nombre_niveau_logement = "2"
Surface_habitable_logement = "80"

# Prepare data dictionary
data = {
    "Etiquette_GES": Etiquette_GES,
    "Logement": Logement,
    "Type_bâtiment": Type_bâtiment,
    "Année_construction": pd.to_numeric(Année_construction, errors='coerce'),
    "Code_postal_(brut)": pd.to_numeric(Code_postal, errors='coerce'),
    "Coût_total_5_usages": pd.to_numeric(Coût_total_5_usages, errors='coerce'),
    "Hauteur_sous-plafond": pd.to_numeric(Hauteur_sous_plafond, errors='coerce'),
    "Nombre_niveau_logement": pd.to_numeric(Nombre_niveau_logement, errors='coerce'),
    "Surface_habitable_logement": pd.to_numeric(Surface_habitable_logement, errors='coerce')
}

# Convert data to DataFrame
df = pd.DataFrame([data])
df

,Etiquette_GES,Logement,Type_bâtiment,Année_construction,Code_postal_(brut),Coût_total_5_usages,Hauteur_sous-plafond,Nombre_niveau_logement,Surface_habitable_logement
0,A,ancien,appartement,2000,75001,15000,2.5,2,80

In [21]:
result = pipeline.Pipeline_classification(df)
result

['D']

In [55]:
# Path to the data
data_path = "data/processed/full_data_bretagne.csv"

# Load the dataframe
df = pd.read_csv(data_path, sep=";")

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453547 entries, 0 to 453546
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Année_construction          453547 non-null  int64
 1   Code_postal_(brut)          453547 non-null  int64
 2   Coût_total_5_usages         453520 non-null  float64
 3   Etiquette_DPE               453547 non-null  object
 4   Etiquette_GES               453547 non-null  object
 5   Hauteur_sous-plafond        453547 non-null  float64
 6   Logement                    453547 non-null  object
 7   Nombre_niveau_logement      442401 non-null  float64
 8   Surface_habitable_logement  447265 non-null  float64
 9   Type_bâtiment               453547 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 34.6+ MB

In [57]:
df['Hauteur_sous-plafond'].max()

np.float64(9992.7)

In [ ]:

# Créer un dataframe avec uniquement les logements dont l'étiquette DPE est D, E, F, ou G
df_dpe_defg = df[df['etiquette_DPE'].isin(['D', 'E', 'F', 'G'])]

# Créer un dataframe avec les logements anciens dont la période de construction est avant 1960
df_avant_1960 = df[df['periode_construction'] < 1960]

# Créer un dataframe avec les logements qui ont une surface habitable strictement supérieure à la surface habitable moyenne
surface_moyenne = df['surface_habitable'].mean()
df_surface_sup_moyenne = df[df['surface_habitable'] > surface_moyenne]

# Créer un dataframe en triant les logements qui consomment le plus d'énergie pour 5 usages en m²
df_tri_conso_energie = df.sort_values(by='Coût_total_5_usages', ascending=False)

# Créer un dataframe en triant par étiquette DPE, puis période de construction, puis par coût en chauffage décroissant
df_tri_dpe_construction_chauffage = df.sort_values(by=['etiquette_DPE', 'periode_construction'], ascending=[True, True, False])

In [35]:
df = pd.read_csv("data\processed/données_filtrées.csv")

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\yacin\AppData\Local\Temp\ipykernel_9600\2972469480.py:1: SyntaxWarning: invalid escape sequence '\p'
  df = pd.read_csv("data\processed/données_filtrées.csv")

In [36]:
df

,Année_construction,Code_postal_(brut),Coût_total_5_usages,Etiquette_DPE,Etiquette_GES,Hauteur_sous-plafond,Logement,Nombre_niveau_logement,Surface_habitable_logement,Type_bâtiment
0,2023,22000,2062.1,D,B,2.6,ancien,3.0,129.8,maison
1,2023,22000,1363.0,C,A,2.5,ancien,3.0,152.0,maison
2,2023,22000,2494.9,E,E,2.5,ancien,2.0,108.9,maison
3,2023,22000,1225.2,D,D,2.5,ancien,3.0,69.6,maison
4,2023,22000,1104.3,D,D,2.8,ancien,1.0,77.0,maison
...,...,...,...,...,...,...,...,...,...,...
212900,2021,56950,608.0,A,A,2.5,neuf,1.0,160.6,maison
212901,2021,56950,579.0,A,A,2.5,neuf,1.0,173.3,maison
212902,2021,56950,445.4,A,A,2.5,neuf,1.0,99.4,maison
212903,2021,56950,621.6,A,A,2.5,neuf,1.0,90.7,maison
212904,2021,56950,793.2,B,A,2.5,neuf,1.0,105.7,maison

In [ ]:
import streamlit as st
import pandas as pd

# Titre de la page
st.title("Affichage des Données")

# Charger les données
data_path = "data/processed/full_data_bretagne.csv"
@st.cache_data
def load_data(path):
    return pd.read_csv(path, sep=";")

# Afficher les données avec une option de cacher
df = load_data(data_path)
if st.checkbox("Afficher toutes données"):
    # Afficher le dataframe de base
    st.dataframe(df)

# Récupérer les valeurs uniques de 'Type_bâtiment'
type_batiment_options = df['Type_bâtiment'].unique()

# Créer une liste vide pour stocker les types sélectionnés
selected_types = []

# Disposer les checkboxes côte à côte
st.write("Filtrer par type de bâtiment :")
columns = st.columns(len(type_batiment_options))  # Crée une colonne pour chaque type unique

for i, type_batiment in enumerate(type_batiment_options):
    # Ajouter chaque checkbox dans une colonne différente
    if columns[i].checkbox(type_batiment):
        selected_types.append(type_batiment)

# Filtrer le dataframe en fonction des types sélectionnés
if selected_types:
    df_filtered = df[df['Type_bâtiment'].isin(selected_types)]
else:
    df_filtered = df  # Si aucun type n'est sélectionné, on garde toutes les données

# Affichage des résultats filtrés
st.write("Données filtrées", df_filtered)

# Ajouter un bouton pour exporter les données filtrées en CSV
csv = df_filtered.to_csv(index=False).encode('utf-8')
st.download_button(
    label="Exporter les données filtrées en CSV",
    data=csv,
    file_name="données_filtrées.csv",
    mime="text/csv"
)